[submodule "0x19-monty"]
	path = 0x19-monty
	url = https://github.com/keysmusician/monty
[submodule "0x11-printf"]
	path = 0x11-printf
	url = https://github.com/nelsfichera/printf
[submodule "0x16-simple_shell"]
	path = 0x16-simple_shell
	url = https://github.com/krytech/simple_shell
